.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgba(138, 195, 240, 0.2),
    rgba(138, 195, 240, 0.1)
  );
}

.AppLogo {
  position: absolute;
  bottom: 2vmin;
  right: 2vmin;
  height: 6vmin;
  pointer-events: none;
  user-select: none;
  padding: 1vmin;
  border-radius: 5px;
}

.MainRow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.VideoContainer {
  position: relative;
  width: 48%;
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
  padding-bottom: 27%;
}

.VideoCover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.ReactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.NotesContainer {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2vmin;
  padding-top: 10px;
  background-color: white;
  border-radius: 10px;
  /* max-height:400px;
  overflow: scroll; */
}
.NoteWrapper{
  border-bottom: solid 1px #ececec;

}
.NoteContainer {
  display: flex;
  margin: 2px;
  padding: 5px;
}
.UserImage {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border: solid 2px white;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #808080;
}
.NoteDetails{
padding-left: 10px;
}
.NameAndTime{
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}
.UserName{
  color: #A93E98;
  padding-right: 5px;
  font-weight: bold;
}
.TimeStamp{
  font-size: smaller;
  color: #808080;
}
.NoteContent{
  text-align: left;
  color: #555555;
  /* color: #7ECFD4; */
}
/* .NoteContent::placeholder{
 vertical-align: text-top;
} */
.NewNoteForm{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px;
}
.NewNoteContent{
  width: 90%;
  height: 50px;
  background-color: #f5f5f5a8;
  padding: 5px;
  margin: 5px 0;
  border: transparent;
  border-radius: 10px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  resize: none;
}
.NewNoteButton{
  width: 50px;
  height: 60px;
  margin-left: 5px;
  color: white;
  background-color: #A93E98;
  border: none;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .MainRow {
    flex-direction: column;
  }
}